
.is-sidebar-menu{
  padding: 2.5rem;
  background: hsl(0, 0%, 100%);
  }
li a{
  color: white;
}
.columns .is-fullheight{
    min-height: .75rem;
    max-height: .75rem;
    height: .73rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.column{
      overflow-y: auto;
    }
.is-main-content {
  background: hsl(0, 0%, 86%);
}
.menu-list a:hover{
	color:black;
}