html, body {
	height: 100vh;
	max-width: 1366px;
	margin: 0 auto;
	padding: 0; 
	font-family: 'Oswald', sans-serif !important;
}
.header{
	height: 100px;
	width: 100%;
	padding: 15px;
	font-size: 38px;
	font-weight: bold;
	box-sizing: border-box;
	background: url('../img/orange.jpg');
	background-size: 110%; 
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
}
.header a{
	color: #FCFCFC;
}

.header a:hover{
	color: #ff830a;
}
.page{
	height: 89%;
	margin: 0 auto;
}

.containers{
	height: 75%;
	position: absolute;
	width: 100%;
	max-width: 1366px;
}

.column{
	padding:10rem;
}

.user{
	height: 100%;
	padding: 1rem 10rem 10rem 10rem;
	box-sizing: border-box;
	background-color: lightblue;
	text-align: center;
	background: url('../img/sergeant_nocolor.png');
	background-repeat: no-repeat;
	background-size: 111%;
	background-position: center;
}

.user h2{
	color: #FCFCFC;
	margin-bottom: 15.5rem;
	font-size: 40px;
	font-weight: bold;
}

.user:hover{
	background: url('../img/sergeant_color.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.guest{
	height: 100%;
	padding: 1rem 10rem 10rem 10rem;
	box-sizing: border-box;
	background-color: brown;
	text-align: center;
	background: url('../img/rookie_nocolor.png');
	background-repeat: no-repeat;
	background-size: 111%;
	background-position: center;
}

.guest h2{
	color: #FCFCFC;
	margin-bottom: 15.5rem;
	font-size: 40px;
	font-weight: bold;
}

.guest:hover{
	background: url('../img/rookie_color.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}
footer{
	width: 100%;
	padding: 2rem;
	font-size: 1em;
	box-sizing: border-box;
	background-color: #73715f;
	bottom: 0;
	color: #FCFCFC;
	max-width: 1366px;
}
footer a{
	text-decoration: none;
	color: #FCFCFC;
	padding: .5rem;
}
.cookie-consent{
	height: 2em;
	padding: .2em;
	text-align: center;
	font-weight: bold;
	background-color: yellow;
}
.cookie-consent__agre{
	font-weight: bold;
	border-radius: 7px;
	background-color: #4b4b4b;
	color: white;
}
@media only screen and (max-width: 480px) {
	.user {
		width: 100%; 
	}
	.guest {
		width: 100%; 
	}
	.header{
		font-size: 28px;
	}
	.user_button{
		left: 41%;
	}
	.registration_button{
		left: 41%;
		bottom: 0%;
	}
}

.facebook_icon{
	height: 30px;
	width: 30px;
	background: url('../img/facebook.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin-right: 1em;
	cursor: pointer;
}
.twitter_icon{
	height: 30px;
	width: 30px;
	background: url('../img/twitter.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin-right: 1em;
	cursor: pointer;
}
.instagram_icon{
	height: 30px;
	width: 30px;
	background: url('../img/instagram.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
}
.icon_container{
	display: flex;
}
/*layouts.app style
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
	margin: 0 10px;
} */