html, body {
	height: 100%;
	margin: 0;
	padding: 0; 
	background-color: #ebebe0;
	font-family: 'Oswald', sans-serif !important;
}
.register_container{
	width: 100%;
	padding: 1em;
}

.register{
	width: 40em;
	margin:0 auto;
	background-color: #dadada;
	padding:2em;
	border: 1px solid #3333;
}

.register_form{
	width: 100%;
}

.checkbox{
	margin-bottom: 15px;
}

.divider{
	background-color: #3333;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
}
footer{
	width: 100%;
	padding: 1rem;
	font-size: 1em;
	box-sizing: border-box;
	background-color: #73715f;
	bottom: 0;
	color: #FCFCFC;
	max-width: 1366px;
	position: fixed;
}
footer a{
	text-decoration: none;
	color: #FCFCFC;
	padding: .5rem;
}
.facebook_icon{
	height: 30px;
	width: 30px;
	background: url('../img/facebook.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin-right: 1em;
	cursor: pointer;
}
.twitter_icon{
	height: 30px;
	width: 30px;
	background: url('../img/twitter.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin-right: 1em;
	cursor: pointer;
}
.instagram_icon{
	height: 30px;
	width: 30px;
	background: url('../img/instagram.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
}
.icon_container{
	display: flex;
}
@media screen and (max-width: 600px) {
	.register{
		width: 30em;
	}
}

@media screen and (max-width: 460px) {
	.register{
		width: 24em;
	}
}

@media screen and (max-width: 360px) {
	.register{
		width: 20em;
	}
}