html, body {
	height: 100%;
	margin: 0;
	padding: 0; 
	background-color: #ebebe0;
	font-family: 'Oswald', sans-serif !important;
}
.register_container{
	width: 100%;
	padding: 1em;
}

.register{
	width: 40em;
	margin:0 auto;
	background-color: #dadada;
	padding:2em;
	border: 1px solid #3333;
}

.register_form{
	width: 100%;
}

.checkbox{
	margin-bottom: 15px;
}

.divider{
	background-color: #3333;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
}
footer{
	width: 100%;
	height: 50px;
	padding: .5rem;
	font-weight: bold;
	font-size: 25px;
	box-sizing: border-box;
	background-color: #73715f;
	bottom: 0;
	position: fixed;
	color: #FCFCFC;
}
footer a{
	text-decoration: none;
	color: #FCFCFC;
	padding: .5rem;
}
@media screen and (max-width: 600px) {
	.register{
		width: 30em;
	}
}

@media screen and (max-width: 460px) {
	.register{
		width: 24em;
	}
}

@media screen and (max-width: 360px) {
	.register{
		width: 20em;
	}
}