html, body {
	height: 100%;
	margin: 0;
	padding: 0; 
	background-color: #ebebe0;
	font-family: 'Oswald', sans-serif;
}
.login_container{
	width: 100%;
	padding: 1em;
}

.login{
	width: 40em;
	margin:0 auto;
	margin-top: 110px;
	background-color: #dadada;
	border: 1px solid #3333;
}
.login_form{
	width: 100%;
	padding:2em;
}
.divider{
	background-color: #3333;
	height: 1px;
	width: 100%;
	margin-bottom: 15px;
}
footer{
	width: 100%;
	height: 50px;
	padding: .5rem;
	font-weight: bold;
	font-size: 25px;
	box-sizing: border-box;
	background-color: #73715f;
	bottom: 0;
	position: fixed;
	color: #FCFCFC;
}
footer a{
	text-decoration: none;
	color: #FCFCFC;
	padding: .5rem;
}
@media screen and (max-width: 770px) {
	.flex{
		display: flex;
	}
}

@media screen and (max-width: 600px) {
	.login{
		width: 30em;
	}
}

@media screen and (max-width: 460px) {
	.login{
		width: 24em;
	}
}

@media screen and (max-width: 360px) {
	.login{
		width: 20em;
	}
}